<div  id="overview">
<table class="table">
              <thead>
                <tr>                  
                  <th>Application Name</th>
                  <th>Versions</th>
                </tr>
              </thead>
              <tbody id="applicationTableBody">
                
              </tbody>
            </table>
</div>